#board-container {
  background-color: #fb6;
  width: 100%;
}

#board {
  position: relative;
  width: 640px;
  height: 640px;
  padding: 40px;
  margin: auto;
}

.table {
  width: 100%;
  height: 100%;
}
.table tbody tr td {
  border: 1px solid #000;
}

#clickable {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 520px;
  height: 520px;
}

#clickable tbody tr td {
  border: 1px solid rgba(255, 0, 0, 0);
  position: relative;
}

.circle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 36px;
  height: 36px;
  border-radius: 36px;
}
.circle.black {
  background-color: #000;
}
.circle.white {
  background-color: #fff;
}
