#board-container {
  background-color: #fb6;
  width: 100%;
}

#board {
  position: relative;
  width: 640px;
  height: 640px;
  padding: 40px;
  margin: auto;
}

.table {
  width: 100%;
  height: 100%;
}
.table tbody tr td {
  border: 1px solid #000;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.circle.black {
  background-color: #000;
}
.circle.white {
  background-color: #fff;
}
